[submodule "external/secp256k1"]
	path = external/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
	ignore = dirty
[submodule "external/libbitc.github.io"]
	path = external/libbitc.github.io
	url = https://github.com/libbitc/libbitc.github.io.git
	ignore = dirty
[submodule "external/cJSON"]
	path = external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
        ignore = dirty
[submodule "external/libev"]
	path = external/libev
	url = https://git.lighttpd.net/libev.git
        ignore = dirty

